@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* vars */

:root {
  --main-bg-box: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(182, 23, 235, 0.687) 0%,
    rgba(111, 4, 218, 0.834) 90%
  );

  --main-bg-button: linear-gradient(
    to right,
    #4776e6 0%,
    #8e54e9 51%,
    #4776e6 100%
  );

  --main-bg-body: linear-gradient(
    76.3deg,
    rgb(51, 49, 73) 12.6%,
    rgb(26, 26, 27) 82.8%
  );



  --subtitle:  linear-gradient(
    180deg,
    rgb(154, 182, 247) 56%,
    rgb(142, 84, 233) 97% 100%

  );
}

/* reset */

html {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

img {
  object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
  color: #afafaf;
  transition: color 0.3s ease-in-out;
}

:hover::placeholder{
  color: #fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
a,
input,
textarea {
  outline: transparent;
}



address,
blockquote {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  appearance: none;
  display: inline-block;
  background-color: transparent;
}

input,
textarea,
select {
  font: inherit;
  border: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background-image: var(--main-bg-body);
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px;
}

/*
.dropdown{
  opacity: 0;

  padding: 10px;
  margin-bottom: 100px;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
transition:opacity 0.4s ease-in-out ;


}

.dropdown__item{

  background-color: #2d30368d;
  padding: 15px 0;
  transition:  background-color 0.3s ease-in-out;
}

.dropdown__item:hover{
  background-color: #eee;
}

.dropdown__item-link{
  background: var(--subtitle);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
*/
.generate__list {
  display: grid;
  gap: 50px;

}



.input-base {
  background-color: #8d54e94a;
  padding: 15px;
  height: 50px;
  border-radius: 6px;
  color: #eee;
}

.subtitle{
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 12px 0;
  background: var(--subtitle);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* menu */

.header{
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__title{
  text-align: center;
  margin: 50px auto;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 6px;
    background: linear-gradient(
      180deg,
      rgba(171, 102, 255, 1) 56%,
      rgba(116, 182, 247, 1) 97% 100%
 
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.menu-link {
  display: block;
  transition: color 0.4s;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  background: var(--subtitle);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.menu-link:hover {
  color: #eeeeeeb1;
}

.menu-item {
  background: var(--main-bg-box);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px ;
  border-radius: 47% 53% 63% 37% / 38% 40% 60% 62%;
  /* border-radius: 75% 25% 66% 34% / 50% 69% 31% 50%; */
  /* border-radius: 25% 46% 24% 51% / 74% 75% 25% 25%; */
}

.menu-img {
  margin-bottom: 40px;
}

.menu__list-item{
  font-size: 22px;
  text-transform: lowercase;
}


.menu__list{
  display: grid;
  gap: 15px;
  margin-bottom: 50px;
}


input[type="radio"] {
  accent-color: #8e54e9;
}

.generate-box {
  border-radius: 50px 6px 50px 6px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  background: var(--main-bg-box);
  box-shadow: 0 0 20px #1a1a1a;
}



.range__input {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid #8e54e9;
}

.range {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.btn {
  background-image: var(--main-bg-button);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.list-numbers {
  width: 300px;
  height: 100px;
  padding: 50px;
  opacity: 0;
  margin: 20px 0;
  background-color: #8d54e94a;
  border-radius: 6px;
  color: #fff;
}

.number {
  margin: 15px 0;
  font-size: 48px;
}

.radio__input {
  margin-bottom: 20px;
}

/* QR Code*/

.qr-generate {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.qr-generate__img {
  margin: 0 auto;
}

/*  Generate a Random Password */

.password__input {
  width: 100%;
  padding-right: 40px;
}

.password {
  position: relative;
}

.password__btn {
  height: 30px;
  width: 30px;
  z-index: 9;
  position: absolute;
  right: 10px;
  top: 10px;
}

/* BMI Calculate*/

.bmi__wrapper {
  display: flex;
  flex-direction: column;
}

.bmi__btn {
flex-wrap: wrap;
  display: flex;
  gap: 13px 0;
}

.bmi__label {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.bmi__input {
  width: 100%;
  margin-top: 20px;
}

#heading {
  font-size: 20px;
  font-weight: 400;
}

#bmi-output {
  width: fit-content;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #8e54e9;
  margin: 5px auto 25px;
}


/* Rates converter*/

.up{
  color: red;
}

.down{
  color: green;
}

.rates{
  display: flex;
  justify-content: space-evenly;
}

.rates-converter{
  background-image: var(--main-bg-box);
  box-shadow: 0 0 20px #eee;
  padding: 50px 40px;
  border-radius: 50px 6px 50px 6px;
  box-shadow: 0 0 20px #1a1a1a;
}

.rates__item{
  color: #121112;
  padding: 10px 38px;
  border: 1px solid #eee;
  background-color: #eee;
  border-radius: 50px;
}

.value{
  padding: 60px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.value__item-input{
  padding: 10px;
  border-radius: 3px;
  margin-right: 30px;
 
}


/* temperature converter*/

.temperature{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#temperatureConvertBtn{
  cursor: pointer;
}





















/* Media */

@media (max-width: 576px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-link {
    display: block;
    margin: 0 10px 15px;
  }

  .rates{
    flex-direction: column;
  }

}

@media (max-width: 768px) {
.header__title{
  font-size: 24px;
  margin: 0;
}

  .generate-box {
    border-radius: 50px 0 50px 0;
    text-align: center;
    max-width: 320px;
    margin: 30px auto;
    padding: 30px;
  }

  .list-numbers {
    width: 200px;
  }


  .menu {
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 0;
    
  }

  .menu-item {
    margin-bottom: 0;

  }

  .menu-link {
    font-size: 18px;
  }


  .rates__item{
    padding: 10px 38px;
    width: fit-content;
   margin: 15px auto;
  }


  .temperature{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}


















@media (max-width: 912px){



.rates-converter{
  padding: 50px 40px;
}

.rates__item{
  padding: 10px 38px;
}

.value{
  padding: 60px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.value__item-input{
  width: 100%;
  margin-bottom: 20px;
  padding: 13px 34px;
  border-radius: 12px;
  margin-right: 30px;
}

.value__item{
margin-bottom: 30px;
}


}
